---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true

SpaceAfterTemplateKeyword: true
SpacesInAngles: Never
