---
Checks: >
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  modernize-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index

WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)src/.*'
FormatStyle: file
